<div class="footer">
  <div class="footer-links">
<div class="hover">
  <span>Connect</span>

  <a class="social-link" href="https://www.facebook.com/roughtraining-2732857223452667" target="blank"><i class="fab fa-facebook"></i></a>
  </a>
  <a class="social-link" href="https://www.instagram.com/rough.training/?hl=en" target="blank"><i class="fab fa-instagram"></i></a>
  <a class="social-link" href="https://github.com/gregi88" target="blank"><i class="fab fa-github"></i></a>
</div>
 </div>

</div>





