<!-- visible-xs visible-sm   /   hidden-sm hidden-xs. -->

<svg id="stroke" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
  <defs>
    <path id="line" d="M2 2c49.7 2.6 100 3.1 150 1.7-46.5 2-93 4.4-139.2 7.3 45.2-1.5 90.6-1.8 135.8-.6" fill="none" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"/>
  </defs>
</svg>



<label id="big" class="dropdown">
    <div class="enso animated pulse">
      <%= image_tag  "black-trans-enso.png" %>
    </div>


  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu"  >
    <li>
      <a class="btn" href="index.html">Home
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
      </a>
    </li>


    <li>
      <a class="btn" href="about.html">About
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
      </a>
    </li>

    <li >
      <a class="btn" href="contact.html">Contact
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
        </a>
      </li>

    <li>
      <a class="btn" href="more.html">Prices
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
        </a>
    </li>
  </ul>

</label>

<!--NAVBAR ONLY ON SMALL DEVICES   -->
<label id="small" class="dropdown">
    <div class="enso animated pulse">
      <%= image_tag  "black-trans-enso.png" %>
    </div>


  <input type="checkbox" class="dd-input" id="test">

  <ul class="dd-menu"  >
    <li>
      <a class="btn" href="index.html">Home
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
      </a>
    </li>


    <li>
      <a class="btn" href="about.html">About
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
        <svg class="button-stroke" viewBox="0 0 154 13">
          <use href="#line"></use>
        </svg>
      </a>
    </li>

    <li >
      <a class="btn" href="contact.html">Contact
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
        </a>
      </li>

    <li>
      <a class="btn" href="more.html">Prices
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
          <svg class="button-stroke" viewBox="0 0 154 13">
            <use href="#line"></use>
          </svg>
        </a>
    </li>
  </ul>

</label>



