.backToTop {
    padding: 0px 11px;
    border: none;
    border-radius: 50%;
    height: 38px;
    opacity: 0.8;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;
    position: fixed;
    bottom: 123px;
    right: 20px;
    cursor: pointer;
    font: 14px/1 Tahoma, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 20px;
    -webkit-transition: width 1s, background 0.5s 0.1s;
    transition: width 1s, background 0.5s 0.1s;
    z-index: 999999999;
}






.backToTop.hidden {
    opacity: 0;
    visibility: hidden;
}
