.banner {
  width:100vw;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("/images/pic/me-split.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  position: relative;
  top: -25px;


}


.box{
  position: relative;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 1em;
  letter-spacing: 3px;
}




.banner-hidden {
  //width: 200px;
  //height: 200px;
  //background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),  url("/images/pic/me-ski.jpg");
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size:cover;
  //background-attachment: fixed;

}


.banner-hidden h5 {
  color: white;
  text-shadow:2px 2px #333;
}

/*------------------*/

.row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.red {
  margin-top: 20px;
  height: 200px;
  background-color: red;
}

.blue {
  height: 200px;
  background-color: blue;
}
