.footer {
  //background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  position: relative;
  bottom: -13em;
  margin-left: 20px;
  margin-right: 0px;

}
.footer-links {
  display: flex;
  align-items: center;
  width: 200px;

}
.footer-links a {
  color: $my-red;
  //opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}


/*--------------*/

$base-duration: 250ms;

// Colors
$primary: gray;
$accent: gray;
$white: white;
$color-3: #bdc3c7;

// Breakpoints
$sm: 20rem;
$med: 48rem;
$lg: 64rem;

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}



.hover {
  position: relative;
  left: -38px;
  bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 75px;
  background-color: $primary;
  border-radius: 99px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;

    //letter-spacing: -0.0625rem;
    transition: 0.25s linear;
    z-index: 1;
  }
  &:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-color: $primary;
  }
  &:after {
    content: '';
    right: 0;
    justify-content: flex-start;
    background-color: darken($primary,5%);
  }
  &:hover {
    background-color: $accent;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    span {
      opacity: 0;
      z-index: -3;
    }
    &:before {
      opacity: 0.5;
      transform: translateY(-100%);
    }
    &:after {
      opacity: 0.5;
      transform: translateY(100%);
    }
  }
  span {

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $my-red; //red
    letter-spacing: 3px;
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    font-weight: 700;
    //opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: $my-red !important ;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    i {
      text-shadow: 1px 1px rgba($accent,0.7);
      transform: scale(1.0);
    }
    &:hover {
      background-color: rgba($primary,0.1);
      i {
        animation: bounce 0.4s linear;
      }
    }
  }
}

@keyframes bounce {
  40% { transform: scale(1.4); }
  60% { transform: scale(0.8); }
  80% { transform: scale(1.2); }
  100% { transform: scale(1.0); }
}



