button.btn.btn-primary{
    display: none;/*value will change via javascript. setting the value to "" removes this attribute.*/
}

.visible-xs {
  //display: block !important;
  //height: 20px;
  //width: 100vw;

  //position: absolute !important;
  //background-color: red !important;
  position: relative !important;
  z-index: 3;



}


/*
.visible-sm {

  height: 30px;
  width: 100vw;
  position: absolute !important;
  background-color: blue !important;



}

*/

/* Dropdown */

.dropdown {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 3;
    float: right;
}


.dd-input {
  display: none;
}

.dd-menu {
    position: relative;
    top: 95px;
    right: -30px;
    padding: 0;
    /* margin: 130px 0 0 0; */
    background-color: transparent;
    list-style-type: none
}


.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}








/**/



.enso {
  float: right;
 // position: relative;
 z-index: 1;
 cursor: pointer;
 width:100px;
 height: 50px;
 background-repeat: no-repeat;
 background-position: center;
 background-size:cover;
}

/* */




.btn {
  float: right;
  position: relative;
  top: -78px;
  right: 8px;
  display: inline-block;
  color: black;
  background-color: transparent !important;
  min-width: 148px;
  text-decoration: none;
  padding-right: 0;
  margin-right: 0;
  margin-top: 31px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;



  &:hover {
    .button-stroke:nth-child(2) {
      stroke-dashoffset: 0;
      background-color: transparent;

    }
  }
}

.button-stroke {
  display: block;
  width: calc(100% - 40px);
  height: 20px;
  stroke: black;
  position: absolute;
  left: 20px;
  bottom: -10px;
  stroke-width: 4;

  &:nth-child(2) {
    stroke-dasharray: 650px;
    stroke-dashoffset: 650px;
    stroke: white;
    stroke-width: 5;
    transition: stroke-dashoffset 800ms ease-out;
  }
}


