
.visible-xs {
  position: relative !important;
  z-index: 3;
}

/* Dropdown */

.dropdown {
    position: absolute;
    right: 18px;
    top: 20px;
    z-index: 3;
    float: right;
}


.dd-input {
  display: none;
}

.dd-menu {
    position: relative;
    top: 95px;
    right: -30px;
    padding: 0;
    /* margin: 130px 0 0 0; */
    background-color: transparent;
    list-style-type: none
}


.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}








/**/

img {
    max-width:100%;
    height:auto;
}



.enso {
  float: right;
 // position: relative;
 z-index: 1;
 cursor: pointer;
 width:100px;
 height: 50px;
 background-repeat: no-repeat;
 background-position: center;
 background-size:cover;
 animation-iteration-count: infinite;
 animation-duration: 1s;

}

/* */


.btn {
  float: right;
  position: relative;
  top: -72px;
  right: 13px;
  display: inline-block;
  color: $my-red !important;
  background-color: transparent !important;
  min-width: 148px;
  text-decoration: none;
  padding-right: 0;
  margin-right: 0;
  margin-top: 22px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;




  &:hover {
    .button-stroke:nth-child(2) {
      stroke-dashoffset: 0;
      background-color: transparent;
      color: black !important

    }
  }
}

.btn:hover {
  color: black !important;
}

.button-stroke {
  display: block;
  width: calc(86% - 40px);
  height: 20px;
  stroke: black;
  position: absolute;
  left: 35px;
  bottom: -10px;
  stroke-width: 2.5px;

  &:nth-child(2) {
    stroke-dasharray: 1650px;
    stroke-dashoffset: 1650px;
    stroke: $my-red;
    stroke-width: 2px;
    transition: stroke-dashoffset 800ms ease-out;
  }
}


