---
title: ROUGH training
---





<div class="about">
  <div class="about-content">
   <div class="container-fluid bg-1 text-center">
    <h3 class="marker margin">Who Am I ?</h3>
    <img src="/images/greg.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <br>
    <br>
    <br>
    <br>
<!--
    <h3 class=" arrow animated fadeOutDown"><i class="fas fa-arrow-circle-down"></i></h3>
-->
  </div>
</div>
</div>


  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">My name is Greg Stachowiak. I am founder of rough.training.</h3>
      <p class="text-center" >I am an adventurer, explorer and curious soul seeking for constant progress and development of my skills. Lokking for perfection and maximalisation of every aspect of my life. </p>
      <p class="text-center">I love what I do and I do what i love.</p>
      <br>
      <br>
      <h4 class="text-center">I am certified:</h4>

      <br>
      <br>
      <h4 class="text-center"><i class="fas fa-trophy"></i> CrossFit Level 2 Trainer</h4>
      <h4 class="text-center"><i class="fas fa-trophy"></i> CrossFit Level 1 Gymnastic Trainer</h4>
      <h4 class="text-center"><i class="fas fa-trophy"></i> CrossFit Level 1 Weigtlifting Trainer</h4>
      <h4 class="text-center"><i class="fas fa-trophy"></i> Kettlebell instructor</h4>
      <h4 class="text-center"><i class="fas fa-trophy"></i> Animal Flow Level 1 instructor</h4>
      <h4 class="text-center"><i class="fas fa-trophy"></i> Precision Nutrition Leve 1 Nutrition Coach</h4>





  </div>

</div>




<!--
 <h2 class="marker">Greg Stachowiak</h2>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
          <% end %>

          <h4 class="marker">Founder of Rough.training</h4>
          <p>

          </p>
        </li>
      <% end %>
    </ul>
-->

<div class="col-sm-12">
  <div class="insta">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-59f5f80d-4b7e-4da3-8cc1-f00709c94166"></div>
    <div class="cover"></div>
  </div>
</div>



<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-12">
      <div class="fb-page" data-href="https://www.facebook.com/roughtraining-2732857223452667" data-tabs="" data-width="380" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/roughtraining-2732857223452667" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/roughtraining-2732857223452667">rough.training</a></blockquote></div>
    </div>
  </div>
</div>


<br>
<br>





<br>
<br>
<br>
<br>
<br>
<br>

<div class="map">
    <h3 class="marker" style="text-align: center;">Where to find me</h3>
    <div class="map-responsive">

    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2398.537274364854!2d12.473255216027889!3d55.65451298052717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525401da01315d%3A0xa075ed6064601f71!2sBytoften+14%2C+2650+Hvidovre%2C+Denmark!5e1!3m2!1sen!2sus!4v1556291815871!5m2!1sen!2sus"  height="450" frameborder="0"  allowfullscreen></iframe>
    </div>
</div>

<script>
/*
  var elem = document.getElementById('red');
  ['red','blue'].map(item => elem.classList.add(item));

  var element = document.querySelector("#push");
 element.classList.add("visible-sm");

 var element = document.querySelector("#blue");
 element.classList.add('visible-sm');

*/

 var element = document.querySelector("#small");
 element.classList.add('visible-xs');

 var element = document.querySelector("#big");
 element.classList.add('hidden-xs');





</script>















