---
title: ROUGH training
---

<div data-aos="zoom-in-up" class="about">
  <div class="about-content">
   <div class="container-fluid bg-1 text-center">
    <h1 class="marker">Who Am I ?</h1>
     <div class="col-sm-4 col-sm-offset-4">
    <img  src="/images/about-resized.jpg" class="img-responsive img-circle margin" alt="me" >
    </div>
    <br>
    <br>
    <br>
    <br>
<!--
    <h3 class=" arrow animated fadeOutDown"><i class="fas fa-arrow-circle-down"></i></h3>
-->
  </div>
</div>
</div>

<div class="container-fluid bg-3 text-center">
  <div class="col-sm-8 col-sm-offset-2">
  <h1>My name is Greg Stachowiak and I am the founder of Rough Training</h1>
  </div>
  <br>
  <br>

  <div data-aos="zoom-in-up" class="row">
    <div  class="col-sm-4 col-sm-offset-2">
      <h2 class="marker" >about ME</h2>
      <br>
      <p class="text-justify"> I am passionate about training and helping other people in achieving their goals in the field of fitness. When working with clients and in my own training practice, I am results-oriented, constantly checking in, with the goal to determine how close, or how far away from the goal we are, and what it will take to make it happen. I believe in balance in training, and my motto is:</p>
      <h4 class="text-center marker" > LET’S GROW STRONG AND MOBILE</h4>
      <br>
      <br>
      <img src="/images/personal.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
</div>

<br>
<br>
<div data-aos="zoom-in-up" class="row">
    <div  class="col-sm-4 col-sm-offset-6">

      <p class="text-justify">I am an adventurer, explorer and curious soul seeking constant progress and development of my skills. Looking for perfection and maximalisation of every aspect of my life. </p>
      <h4 class="text-center marker">I love what I do and I do what I love.</h4>
      <img src="/images/pistol.jpg" class="img-responsive margin" style="width:100%" alt="Image">

    </div>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2 class="text-center marker" >I am certified as</h2>
      <br>
      <h4 class="cert"><i class="fas fa-trophy"></i> CrossFit Level 2 Trainer</h4>
      <h4 class="cert"><i class="fas fa-trophy"></i> CrossFit Level 1 Gymnastic Trainer</h4>
      <h4 class="cert"><i class="fas fa-trophy"></i> CrossFit Level 1 Weigtlifting Trainer</h4>
      <h4 class="cert"><i class="fas fa-trophy"></i> DGI Kettlebell Instructor</h4>
      <h4 class="cert"><i class="fas fa-trophy"></i> Animal Flow Level 1 Instructor</h4>
     <!-- <h4 class="cert"><i class="fas fa-trophy"></i> Precision Nutrition Leve 1 Nutrition Coach</h4> -->
    </div>
  </div>





<div class="col-sm-12">
  <div data-aos="zoom-in-up" class="insta">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-59f5f80d-4b7e-4da3-8cc1-f00709c94166"></div>
    <div class="cover"></div>
  </div>
</div>


<div class="container-fluid bg-3 text-center">
  <div class="row">

    <div class="col-sm-12 fb">
      <div class="fb-page" data-href="https://www.facebook.com/roughtraining-2732857223452667" data-tabs="" data-width="380" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/roughtraining-2732857223452667" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/roughtraining-2732857223452667">rough.training</a></blockquote></div>
    </div>
  </div>
</div>
</div>

<br>
<br>





<br>
<br>
<br>
<br>
<br>
<br>

<div class="map">
    <h3 class="marker" style="text-align: center;">Where to find me</h3>
    <br>
    <div class="map-responsive">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2400.899206716274!2d12.482457916027084!3d55.631609380521155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652543cfe45b6a7%3A0x634f621fd6897dc7!2sK%C3%A6nturion+Gym!5e1!3m2!1sen!2sus!4v1560252135224!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<script>
/*
  var elem = document.getElementById('red');
  ['red','blue'].map(item => elem.classList.add(item));

  var element = document.querySelector("#push");
 element.classList.add("visible-sm");

 var element = document.querySelector("#blue");
 element.classList.add('visible-sm');

*/

 var element = document.querySelector("#small");
 element.classList.add('visible-xs');

 var element = document.querySelector("#big");
 element.classList.add('hidden-xs');





</script>















