---
title: ROUGH training
---




<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">


      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">

  <div class="col-md-5">
      <div data-aos="fade-right" class="box ">
        <img class="img-responsive " src="/images/black-trans-enso.png" alt="header image" />
        <div class="img-title">
         <!-- <h4 class="display-on-image">Free yourself to be yourself.</h4> -->
        </div>
      </div>
  </div>





  <div class="col-md-6">
        <div data-aos="zoom-in-up" class="side-text">
          <h1 class="marker">what is ROUGH ?</h1>
          <br>
          <h4 class="display">Rough.training is a training and coaching concept, that connects the idea of going back to basic human movements and building body awareness, through creating personalised strength, mobility and nutrition programs.</h4>
          <br>
          <a href="more.html"><h4 class="link">Let's grow strong and mobile</h4></a>

      </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">

  <div class="col-md-5">
      <div data-aos="fade-right" class="box">
        <img class="img-responsive" src="/images/definition-rough.png" alt="header image" />
      </div>
  </div>



  <div class="col-md-6">
        <div data-aos="zoom-in-up" class="side-text">
          <h1 class="marker">DEFINITION</h1>
          <br>
          <h4 class="display">It's not easy by definition. It's hard! And it supposed to be hard! If it was easy, everyone would do it. Hard is what makes it great. And YES! there going to be discomfort. YES! there going to be ups and downs. But I'm here to help you not breake you.</h4>
          <br>
          <h4 class="link">Let's grow strong and mobile</h4>

      </div>
  </div>

</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">

  <div class="col-md-5">

      <div data-aos="fade-right" class="box">
        <img  class="img-responsive " src="/images/pic/jump.jpg" alt="header image" />
      </div>

  </div>



  <div class="col-md-6">
        <div data-aos="zoom-in-up" class="side-text">
          <h1 class="marker">why STRONG ?</h1>
          <br>
          <h4 class="display">Strength is esential in life. We need to be strong to move, to run, to jump, to carry things, to perform. Building strength does not require going to a gym or lifting heavy weights. Many movements that require pushing, pulling, and squatting with just a person’s body weight will build strength.</h4>
          <br>
          <h4 class="link">Let's grow strong and mobile</h4>

      </div>
  </div>

</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">

  <div class="col-md-5">

      <div data-aos="fade-right" class="box">
        <img  class="img-responsive " src="/images/pic/stretch.jpg" alt="header image" />
      </div>

  </div>



  <div class="col-md-6">
        <div data-aos="zoom-in-up" class="side-text">
          <h1 class="marker">why MOBILE ?</h1>
          <br>
          <h4 class="display">Stretching may not be the most exciting part of working out, but doing flexibility work is just as important as strength and cardio work. Including some stretching exercises into your workout schedule will help you improve flexibility, reduce tightness, and ultimately, make your workouts more efficient and safe.</h4>
          <br>
          <h4 class="link">Let's grow strong and mobile</h4>

      </div>
  </div>

</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">

  <div class="col-md-5">

      <div data-aos="fade-right" class="box">
        <img  class="img-responsive " src="/images/pic/eat.jpg" alt="header image" />
      </div>

  </div>



  <div class="col-md-6">
        <div data-aos="zoom-in-up" class="side-text">
          <h1 class="marker">why NUTRITION ?</h1>
          <br>
          <h4 class="display">Stretching may not be the most exciting part of working out, but doing flexibility work is just as important as strength and cardio work. Including some stretching exercises into your workout schedule will help you improve flexibility, reduce tightness, and ultimately, make your workouts more efficient and safe.</h4>
          <br>
          <h4 class="link"><i class="fas fa-carrot"></i>  Let's eat real food </h4>

      </div>
  </div>

</div>





</div>










