---
title: ROUGH training
---




<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">


      </div>
    </div>
  </div>
</section>





<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="banner-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>Hello, world! Full width Hero-unit header</h5>
        <p style="color: white;">This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
    </div>
  </div>
</section>

.





 <!--

<div class="banner">
  <div class="banner-content">


    <h3><pre>Looking for

    web developer ?</pre>
  </h3>
  <button1 class="moving-box">

    <a href="contact.html"   >CLICK ME</a>

  </button1>


</div>
</div>




<div class="logo-big">
  <%= image_tag  "logo.png" %>
</div>

-->





<div id="home">
  <div class="home-content" >

    <h3>Looking for webdeveloper?</h3>
    <br>
    <h2>Hi, my name is Greg. I'm web developer & programmer living
    in Copenhagen. I make web applications and custom websites.</h2>
    <p class="about">
      <%= link_to "More about me", "about.html" %>
    </p>
  </div>
</div>





