---
title: ROUGH training
---




<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">


      </div>
    </div>
  </div>
</section>




<!--
<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail></app-recipe-detail>
  </div>
</div>
-->


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-5">
      <div class="box">
        <img class="img-responsive"src="/images/pic/me-ski.jpg" alt="header image" />
        <div class="img-title">
          <h4 class="display-4">Ham consequat jowl tenderloin commodo dolor</h4>
        </div>
      </div>
  </div>

  <div class="col-md-7">
    <div class="box">
       <!-- <img class="img-responsive"src="/images/pic/me-ski.jpg" alt="header image" /> -->
        <div style="background-color: white; color: black;" class="img-title">
          <h4 class="display-4">Ham consequat jowl tenderloin commodo dolor</h4>
        </div>
      </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>


<div class="row">
  <div class="col-md-7">
    <div class="box">
       <!-- <img class="img-responsive"src="/images/pic/me-ski.jpg" alt="header image" /> -->
        <div style="background-color: white; color: black;" class="img-title">
          <h4 style="background-color: red; width: 600px;" class="display-4">Ham consequat jowl tenderloin commodo dolor</h4>
        </div>
      </div>
  </div>


  <div class="col-md-5">
      <div class="box">
        <img class="img-responsive"src="/images/pic/me-ski.jpg" alt="header image" />
        <div class="img-title">
          <h4  class="display-4">Ham consequat jowl tenderloin commodo dolor</h4>
        </div>
      </div>
  </div>


</div>









 <!--

  <section class="banner-hidden"></section>

<div class="banner">
  <div class="banner-content">


    <h3><pre>Looking for

    web developer ?</pre>
  </h3>
  <button1 class="moving-box">

    <a href="contact.html"   >CLICK ME</a>

  </button1>


</div>
</div>




<div class="logo-big">
  <%= image_tag  "logo.png" %>
</div>

-->




<!--
<div id="home">
  <div class="home-content" >

    <h3>Looking for webdeveloper?</h3>
    <br>
    <h2>Hi, my name is Greg. I'm web developer & programmer living
    in Copenhagen. I make web applications and custom websites.</h2>
    <p class="about">
      <%= link_to "More about me", "about.html" %>
    </p>
  </div>
</div>

-->



