---
title: ROUGH training
---




<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <!--
      <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div>
    -->
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<div class="row">

  <div class="col-md-5">
      <div data-aos="fade-right" class="box ">
        <img class="img-responsive " src="/images/black-trans-enso.png" alt="header image" />
        <div class="img-title">
         <!-- <h4 class="display-on-image">Free yourself to be yourself.</h4> -->
        </div>
      </div>
  </div>





  <div class="col-md-6">
        <div data-aos="zoom-in-up" class="side-text">
          <h1 class="marker">what is ROUGH ?</h1>
          <br>
          <h4 class="display">Rough.training is a training and coaching concept, that connects the idea of going back to basic human movements and building body awareness, through creating personalised strength, mobility and nutrition programs.</h4>
          <br>
          <a href="more.html"><h4 class="link">Let's grow strong and mobile</h4></a>

      </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">

  <div class="col-md-5">
      <div data-aos="fade-right" class="box">
        <img class="img-responsive" src="/images/definition-rough.png" alt="header image" />
      </div>
  </div>



  <div class="col-md-6">
        <div data-aos="zoom-in-up" class="side-text">
          <h1 class="marker">DEFINITION</h1>
          <br>
          <h4 class="display">It's not easy by definition. It's hard! And it supposed to be hard! If it was easy, everyone would do it. Hard is what makes it great. And YES! there going to be discomfort. YES! there going to be ups and downs. But I'm here to help you not breake you.</h4>
          <br>
          <a href="more.html"><h4 class="link">Let's grow strong and mobile</h4></a>

      </div>
  </div>

</div>



<br>
<br>
<br>

</div>

 <div class="container-fluid bg-3 text-center">
  <h1 class="margin marker">Where we focus on?</h1><br>
  <div class="row">



    <div data-aos="zoom-in-up" class="col-sm-4">
      <h2 class="marker" >why STRONG</h2>
      <p>Strength is esential in life. We need to be strong to move, to run, to jump, to carry things, to perform. Building strength does not require going to a gym or lifting heavy weights. Many movements that require pushing, pulling, and squatting with just a person’s body weight will build strength.</p>
      <img src="/images/pic/jump.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <a href="more.html"><h5 class="link">Let's grow strong</h5></a>
    </div>

    <div data-aos="zoom-in-up" class="col-sm-4">
      <h2 class="marker">why MOBILE</h2>
      <p>Stretching may not be the most exciting part of working out, but doing flexibility work is just as important as strength and cardio work. Including some stretching exercises into your workout schedule will help you improve flexibility, reduce tightness, and ultimately, make your workouts more efficient and safe.</p>
      <img src="/images/pic/stretch.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <a href="more.html"><h5 class="link">Let's grow mobile</h5></a>
    </div>

    <div data-aos="zoom-in-up" class="col-sm-4">
      <h2 class="marker">why NUTRITION</h2>
      <p>You are what you eat! Foods you eat provide the foundation of the structure, function, and integrity of every little cell in your body, from your skin and hair to your muscles, bones, digestive and immune systems. You may not feel it, but you’re constantly repairing, healing and rebuilding your body.</p>
      <img src="/images/pic/eat.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      <a href="more.html"><h5 class="link"><i class="fas fa-carrot"></i>  Let's eat real food </h5></a>
    </div>
  </div>
</div>





<h2 style="text-align: center;">What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>










