---
title: ROUGH training
---




<div  class="banner">


  <div class="container-fluid">
    <div class="row">
      <br>
      <br>
      <br>
      <br>

        <div class="col-xs-4 col-md-4 col-lg-4">

        <h5 class="top-left-1 banner-text">You are UNIQUE</h5>

        <h5 class="top-left-2 banner-text">Your time is PRECIOUS</h5>

        <h5 class="top-left-3 banner-text">Stop doing random things, and allow Yourself to grow STRONG AND MOBILE</h5>


        </div>
    </div>
</div>
<!--
Feeling like wasting time, and not going anywhere with your training ?

        Or meybe You want to explore what Your body is capable of ?




  Tired of doing random things in the gym and wasting time
style="background-color: #f2f6f5;"
  <div class="container-fluid">
    <div class="row">


      <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
      </div>

    </div>
  </div>
-->

</div>
<!--<h4 class="text-center arrow animated fadeOutDown "><i class="fas fa-arrow-circle-down"></i></h4>-->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container m-t-md">
  <!-- First row -->
  <div class="row">

    <div class="col-xs-12 col-md-6">
      <!-- Card -->
      <article data-aos="zoom-in-up">
        <img class="card-img-top img-responsive" src="/images/black-trans-enso.png" alt="personal training" />
      </article>
      <!-- .end Card -->

    </div>

    <div class="col-xs-12 col-md-6">
      <!-- Card -->
      <article data-aos="zoom-in-up"  >

        <div class="card-block">
          <h2 class="marker" style="text-align: center;">what is ROUGH training ?</h2>
          <br>
          <h4 class="display text-justify">Rough.training is a training and coaching concept, that connects the idea of going back to basic human movements and building body awareness, through creating personalised strength, mobility and nutrition programs.</h4>
          <br>
          <a href="more.html"><h4 class="link" style="text-align: center;">Let's grow strong and mobile</h4></a>
        </div>

      </article>
      <!-- .end Card -->
    </div>
  </div>


<br>
<br>
<br>
<br>
<br>
<br>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <!-- Card -->
      <article data-aos="zoom-in-down" >
        <img class="card-img-top img-responsive" src="/images/definition-rough.png" alt="personal training" />

      </article><!-- .end Card -->
    </div>

    <div class="col-xs-12 col-md-6">
      <!-- Card -->
      <article data-aos="zoom-in-down"  class="">
        <div class="card-block">
          <h2 class="marker" style="text-align: center; ">DEFINITION</h2>
          <br>
          <h4 class="display text-justify">It is not easy by definition.  It is hard! And it is supposed to be hard! If it was easy, everyone would do it. Hard is what makes it great. And YES! there is going to be discomfort. YES! there are going to be ups and downs. But I am here to help you achieve Your highest potential, not breake you.</h4>
          <br>
          <a href="more.html"><h4 class="link" style="text-align: center;">Let's grow strong and mobile</h4></a>


        </div>







      </article><!-- .end Card -->
    </div>
  </div>
</div>



<br>
<br>
<br>
<br>



 <div class="container-fluid bg-3 text-center">
  <h2 class="margin marker">what I FOCUS on?</h2>
  <br>
  <br>

  <div class="row">

    <div data-aos="zoom-in-up"  class="col-sm-4">
      <a href="more.html"><h2 class="marker link" >why STRONG</h2></a>
      <br>
      <p class="text-justify">Movement is essential to our existence, everything is in constant motion. Through movement, we build strength to face daily challenges. Before pushing and pulling other things, you need to start pushing and pulling yourself. Gym and equipment will not help, without body awareness.

        "Life is movement. Once you stop moving, you are dead. Choose life." Eugene Sandow

       </p>
      <a href="more.html"><img src="/images/kb.jpg" class="img-responsive margin pop-up" style="width:100%" alt="Image"></a>
      <br>
      <a href="more.html"><h5 class="link">Let's grow strong</h5></a>
    </div>

    <div data-aos="zoom-in-up"  class="col-sm-4">
      <a href="more.html"><h2 class="marker link">why MOBILE</h2></a>
      <br>
      <p class="text-justify">Even though stretching is not perceived to be as attractive as lifting heavy, or flexing muscles, it is equally, if not more important, in order to keep our connective tissues healthy. By incorporating stretching into Your training, You will enhance Your range of motion, recovery time and overall well-being.</p>
     <a href="more.html"> <img src="/images/stretch.jpg" class="img-responsive margin pop-up" style="width:100%" alt="Image"> </a>
      <br>
      <a href="more.html"><h5 class="link">Let's grow mobile</h5></a>
    </div>

    <div data-aos="zoom-in-up"  class="col-sm-4">
      <a href="more.html"><h2 class="marker link">why NUTRITION</h2></a>
      <br>
      <p class="text-justify">You are what You eat! The food You put into Your body is not only a building block, but also a carrier of information for Your body. The lower the quality of the food You eat, the worse Your body-composition will be. Enhanced food quality will bring vitality and boost performance of Your body.</p>
      <a href="more.html"><img src="/images/eat.jpg" class="img-responsive margin pop-up" style="width:100%" alt="Image"></a>
      <br>
      <a download href="more.html"><h5 class="link"><i class="fas fa-carrot"></i>  Let's eat real food </h5></a>
    </div>
  </div>
</div>





<div class="client" class="col-sm-6">
  <h3 class="marker">What clients say</h3>
</div>
<br>
<div class="col-sm-12">
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FDynamopoul%2Fposts%2F10217396093965876&width=350&show_text=true&height=156&appId" width="350" height="156" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>

      <div class="item">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsbirkebaek%2Fposts%2F10156156356572681&width=350" width="350" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>


      <div class="item">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffabrizio.rodriguez.397%2Fposts%2F10161721611545162&width=350" width="350" height="142" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="item">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fagatha.zujewski%2Fposts%2F2335013426556343&width=350" width="350" height="795" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="item">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flise.o.fisker%2Fposts%2F10216149532343698&width=350" width="350" height="218" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="item">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmikkel.jakobsen.9083%2Fposts%2F10156261128727653&width=350" width="350" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

       <div class="item">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkarinameier.holm%2Fposts%2F10157311337658270&width=350" width="350" height="199" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

       <div class="item">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1343819485792572%26id%3D100004935997951&width=350" width="350" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="item">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fperfisker%2Fposts%2F10157411434248615&width=350" width="350" height="294" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

      <div class="item">
          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flene.larsen.3551%2Fposts%2F10217410422245023&width=350" width="350" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

    </div>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>





<script>
 var element = document.querySelector("#small");
 element.classList.add('visible-xs');

 var element = document.querySelector("#big");
 element.classList.add('hidden-xs');

</script>




