---
title: ROUGH training
---


<div class="row">
    <div class="col-sm-4 x" >.col-sm-4</div>
    <div class="col-sm-8 x" style="background-color:lavenderblush; ">.col-sm-8</div>
  </div>
</div>



<script>
/*
  var elem = document.getElementById('red');
  ['red','blue'].map(item => elem.classList.add(item));

  var element = document.querySelector("#push");
 element.classList.add("visible-sm");

 var element = document.querySelector("#blue");
 element.classList.add('visible-sm');

*/

 var element = document.querySelector("#small");
 element.classList.add('visible-xs');

 var element = document.querySelector("#big");
 element.classList.add('hidden-xs');





</script>




