---
title: ROUGH training
---

<div class="more">
<div class="container-fluid bg-1 text-center">
  <h1 class="marker letter">PRICING</h1>
</div>
</div>


<div class="container-fluid bg-3 text-center">
  <div data-aos="zoom-in-up" class="row">



    <div  class="col-sm-4 card ">
      <h2 class=" margin marker"  >Personal training</h2>
      <br>
      <br>
      <p class="text-justify">Strength is esential in life. We need to be strong to move, to run, to jump, to carry things, to perform. Building strength does not require going to a gym or lifting heavy weights. Many movements that require pushing, pulling, and squatting with just a person’s body weight will build strength.</p>
      <br>
      <br>
      <h1>100 $</h1>

    </div>

    <div  class="col-sm-4 card ">
      <h2 class="marker">Online programing</h2>
      <br>
      <br>
      <p class="text-justify">Stretching may not be the most exciting part of working out, but doing flexibility work is just as important as strength and io work. Including some stretching exercises into your workout schedule will help you improve flexibility, reduce tightness, and ultimately, make your workouts more efficient and safe.</p>
      <br>
      <br>
      <h1>100 $</h1>




    </div>

    <div  class="col-sm-4 card ">
      <h2 class="marker">Nutrition coaching</h2>
      <br>
      <br>
      <p class="text-justify">You are what you eat! Foods you eat provide the foundation of the structure, function, and integrity of every little cell in your body, from your skin and hair to your muscles, bones, digestive and immune systems. You may not feel it, but you’re constantly repairing, healing and rebuilding your body.</p>
      <br>
      <br>
      <h1>100 $</h1>

    </div>
  </div>
</div>







<!--
<div class="row">
    <div class="col-sm-4 x" >.col-sm-4</div>
    <div class="col-sm-8 x" style="background-color:lavenderblush; ">.col-sm-8</div>
  </div>
</div>

-->

<script>
 var element = document.querySelector("#small");
 element.classList.add('visible-xs');

 var element = document.querySelector("#big");
 element.classList.add('hidden-xs');

</script>





