---
title: ROUGH training
---


<div class="more">
<div class="container-fluid text-center">
  <h1 class="marker letter">PRICES</h1>
</div>
</div>


<div class="container m-t-md">
  <!-- First row -->
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <!-- Card -->
      <article data-aos="zoom-in-up" class="card ">
        <img class="card-img-top img-responsive" src="/images/helping-hand2.jpg" alt="personal training" />
        <div class="card-block">
          <h3 class="marker">Personal training</h3>
          <h6 class="text-muted">Free start-up consultation and test </h6>
          <br>
          <p class="card-text"><i class="far fa-check-square"></i> One-on-One sessions</p>
          <p class="card-text"><i class="far fa-check-square"></i> 60 - 70 minutes coaching </p>
          <p class="card-text"><i class="far fa-check-square"></i> Individualised approach </p>
          <br>

          <h3>500 dkk / session</h3>

        </div>
      </article><!-- .end Card -->
    </div>

    <div class="col-xs-12 col-md-3">
      <!-- Card -->
      <article data-aos="zoom-in-up" class="card ">
        <h3 class="soon">Coming soon !</h3>
        <br>
        <img class="card-img-top img-responsive" src="/images/programming.jpg" alt="Online programing" />
        <div class="card-block">
          <h3 class="marker ">Online programming</h3>
          <h3 class="marker">+</h3>
          <h3 class="marker">Nutrition coaching</h3>
          <h6 class="text-muted">Free start-up consultation and test  </h6>
          <br>
          <p class="card-text"><i class="far fa-check-square"></i> Individualised training and stretching program </p>
          <p class="card-text"><i class="far fa-check-square"></i> Monthly training programming </p>
          <p class="card-text"><i class="far fa-check-square"></i> Online instructions and feedback on training progress </p>
          <p class="card-text"><i class="far fa-check-square"></i> Nutrition coaching focusing on creating healthy and sustainable habits</p>
          <p class="card-text"><i class="far fa-check-square"></i> Weekly nutrition challenges and check-ins  </p>


          <br>



        </div>
      </article><!-- .end Card -->
    </div>

    <div class="col-xs-12 col-md-3">
      <!-- Card -->
      <article data-aos="zoom-in-up" class="card promo ">
        <img class="card-img-top img-responsive" src="/images/box.jpg" alt="Online programing" />
        <div class="card-block">
          <h3 class="marker">Online programming</h3>
          <h6 class="text-muted">Free start-up consultation and test  </h6>
          <br>

          <p class="card-text"><i class="far fa-check-square"></i> Individualised training and stretching program </p>
          <p class="card-text"><i class="far fa-check-square"></i> Access to video library </p>
          <p class="card-text"><i class="far fa-check-square"></i> Online instructions and feedback on training progress </p>
          <p class="card-text"><i class="far fa-check-square"></i> Monthly training programming </p>


          <br>

          <h3>500 dkk / month</h3>

        </div>
      </article><!-- .end Card -->
    </div>


<div class="col-xs-12 col-md-3  ">
      <!-- Card -->
      <article data-aos="zoom-in-up" class="card ">
        <h3 class="soon" >Coming soon !</h3>
        <br>
        <img class="card-img-top img-responsive" src="/images/eat.jpg" alt="Nutrition coaching" />
        <div class="card-block">
          <h3 class="marker">Nutrition coaching</h3>
          <h6 class="text-muted">Free start-up consultation and test  </h6>
          <br>
          <p class="card-text"><i class="far fa-check-square"></i> Nutrition coaching focusing on creating healthy and sustainable habits</p>
          <p class="card-text"><i class="far fa-check-square"></i> Weekly nutrition challenges and check-ins  </p>



        </div>
      </article><!-- .end Card -->
    </div>

     </div>
</div>
<br>
<br>

<div class="container m-t-md">

<div class="row">

  </div>
</div>





























<!--


<div class="container-fluid bg-3 text-center">
  <div data-aos="zoom-in-up" class="row">



    <div  class="col-sm-4 card ">
      <h2 class=" margin marker">Personal training</h2>
      <br>
      <br>
      <p class="text-justify">Strength is esential in life. We need to be strong to move, to run, to jump, to carry things, to perform. Building strength does not require going to a gym or lifting heavy weights. Many movements that require pushing, pulling, and squatting with just a person’s body weight will build strength.</p>
      <br>
      <br>
      <h1>100 $</h1>

    </div>

    <div  class="col-sm-4 card ">
      <h2 class="marker">Online programing</h2>
      <br>
      <br>
      <p class="text-justify">Stretching may not be the most exciting part of working out, but doing flexibility work is just as important as strength and io work. Including some stretching exercises into your workout schedule will help you improve flexibility, reduce tightness, and ultimately, make your workouts more efficient and safe.</p>
      <br>
      <br>
      <h1>100 $</h1>




    </div>

    <div  class="col-sm-4 card ">
      <h2 class="marker">Nutrition coaching</h2>
      <br>
      <br>
      <p class="text-justify">You are what you eat! Foods you eat provide the foundation of the structure, function, and integrity of every little cell in your body, from your skin and hair to your muscles, bones, digestive and immune systems. You may not feel it, but you’re constantly repairing, healing and rebuilding your body.</p>
      <br>
      <br>
      <h1>100 $</h1>

    </div>
  </div>
</div>




-->




<!--
<div class="row">
    <div class="col-sm-4 x" >.col-sm-4</div>
    <div class="col-sm-8 x" style="background-color:lavenderblush; ">.col-sm-8</div>
  </div>
</div>

-->

<script>
 var element = document.querySelector("#small");
 element.classList.add('visible-xs');

 var element = document.querySelector("#big");
 element.classList.add('hidden-xs');

</script>





